<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Patient System{% endblock %}</title>
        {% load static %}

    {% block extra_css %}
<link rel="stylesheet" href="{% static 'patientapp/style.css' %}">
{% endblock %}

</head>
<body>
    <div class="header">
        Patient Management System
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!--<div class="footer">
        &copy; 2026 Intellisoft Demo | All Rights Reserved
    </div>-->
</body>
</html>
