<!DOCTYPE html>
<html>
<head>
    <title>Overweight Assessment</title>
</head>
<body>
    <div class="container">
    <h1>Overweight Assessment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label>Patient name</label><input type="text" name="patientname" value="{{ request.user.username }}" readonly hidden>
        <label>Visit date</label><input type="date" name="visitdate" value="{{ today_date }}" readonly hidden>
        <label>General Health</label>
        <label>Good</label><input type="radio" name="generalhealth" value="Good"> Good
        <label>Poor</label><input type="radio" name="generalhealth" value="Poor"> Poor
        <label>Have you ever been on a diet to lose weight?</label>
        <label>Yes</label><input type="radio" name="question2" value="Yes"> Yes
        <label>No</label><input type="radio" name="question2" value="No"> No
       <label>Comments</label><input type="text" name="comments" placeholder="Additional comments">
        <button type="submit">Submit</button>
        <button type="reset">Cancel</button>
        
    </form>
    </div>
</body>
</html>
